cloud_id                 = "xxx"
folder_id                = "xxx"
zone                     = "ru-central1-a"
image_id                 = "xxx"
public_key_path          = "ubuntu.pub"
subnet_id                = "xxx"
service_account_key_file = "key.json"
private_key_path         = "ubuntu"
